[2019-05-13 14:34] Snakesms opened #3 "Unable to build, could be some version mismatch"
# github.com/redhat-cop/namespace-configuration-operator/pkg/apis/redhatcop/v1alpha1
..\..\..\..\go\src\github.com\redhat-cop\namespace-configuration-operator\pkg\apis\redhatcop\v1alpha1\register.go:18:19: undefined: scheme.Builder

# github.com/redhat-cop/operator-utils/pkg/util
..\..\..\..\go\src\github.com\redhat-cop\operator-utils\pkg\util\reconciler.go:70:44: cannot use owner (type "k8s.io/ap

[2019-05-13 19:10] raffaelespazzoli commented on #3
did you run `make dep`?

[2019-05-14 14:52] ndox opened #4 "Error ClusterRoleBinding creation"
Might be a little clusterrolebinding missing field issue but I didn't quickly found the fix..

openshift v3.11.43
kubernetes v1.11.0+d4cacc0

[code]

[2019-05-14 14:55] ndox commented on #4
Then I've got :
[code]

[2019-05-14 15:16] ndox commented on #4
It seems that addind a namespace for the SA do the job in deploy/rolebinding.yaml :

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: namespace-configuration-operator
  namespace: namespace-configuration-operator
subjects:
- kind: ServiceAccount
  name: namespace-configuration-operator
  **namespace: namespace-configuration-operator**
roleRef:
  kind: ClusterRole

[2019-05-14 16:02] raffaelespazzoli commented on #4
@ndox you shouldn't have to modify the cluster role binding.
try with the following command:
`oc apply -f deploy -n namespace-configuration-operator`

can you also share the pod logs where you see the error?

[2019-05-14 16:03] raffaelespazzoli commented on #3
@Snakesms are you still seeing the error? Can I close this?

[2019-05-15 09:45] ndox commented on #4
@raffaelespazzoli :  Maybe I'm doing something wrong.. Here what I'm doing :

I started a fresh new lab.
But still have the first issue with your new command :

[code]

What I'm doing :
git clone https://github.com/redhat-cop/namespace-configuration-operator.git
oc apply -f deploy/crds/redhatcop_v1alpha1_namespaceconfig_crd.yaml
oc new-project namespace-configuration-operator
oc apply -f deploy -n

[2019-05-15 12:32] raffaelespazzoli commented on #4
@ndox https://github.com/redhat-cop/namespace-configuration-operator/pull/6 should fix the issue.
while the PR is being merged, here is what you need:
[code]

[2019-05-15 13:07] ndox commented on #4
@raffaelespazzoli : I confirm it works well now. Many thanks for your help !

[2019-05-15 13:07] #4 closed

[2019-05-15 15:39] Snakesms commented on #3
@raffaelespazzoli
Sorry for delayed reply.
After few iterations of dep init, dep ensure and go get I've finally managed to build it and deployed.

I didn't have a chance to spend enough time on tuning the app itself to let it run smoothly but so far I have few following questions if you will:

1) In deployment -> rolbinding you are binding SA to the Role "namespace-configuration-operator" &
   Clu

[2019-05-15 17:48] raffaelespazzoli commented on #3
@Snakesms
I gave huge permissions on purpose to the service account. I am not sure it's the right thing to do, but it was necessary to be sure that the operator worked all the time because I don't know what resource the user will want to create.
It should be possible to narrow down the permission to just what you need (assuming you know what it is). I haven't tested the operator with restricted pe

[2019-06-14 01:44] jeffspahr commented on #3
I'm running into the same issue:

[code]

I attempted `make dep`, but there's no `dep` option in the makefile.

[2019-06-14 12:03] raffaelespazzoli commented on #3
@jeffspahr sorry my instructions were not accurate.
just run `dep ensure` , this should download the dependencies and let you get started.

[2019-07-16 15:30] crmarques opened #8 "Operator does not enforce configuration"
If we deploy the tshirt-quotas.yaml example, operator correctly deploys ResourceQuota "large-size" object in "large-project" namespace, as expected.

However, if someone with ResourceQuota edit permission in "large-project" changes the target ResourceQuota object, for example, from requests.cpu=4 to =5, it doesn't reconcile back to the desired state.

Is it the expected result? Shouldn't the opera

[2019-07-16 17:04] raffaelespazzoli commented on #8
Hi @crmarques , currently this operator does not watch on the created resources. It is expected that users will be prevented from updating such resources via RBAC.
Implementing this feature is not trivial, in fact because we don't know which resource type the user will decide to create, basically we have to listen on any resource type, which essentially means listening on the entire etcd database.

[2019-07-16 23:05] crmarques commented on #8
Thank you, @raffaelespazzoli!

I'm not sure about other limitations, but implementing this operator as a helm operator could solve this specific feature more easily. Thinking about enforcing some objects to a desired state seems to me a good use of helm operators.

But thank you again for your fast anwser!!!

[2019-08-19 07:48] archerbj opened #9 "podPresets support"
Hi, I am trying to use PodPresets to automatically inject time zone environment variable into all pods in Openshift 3.11.

and I found PodPresets are removed in Openshift 3.11.

This blog `https://blog.openshift.com/controlling-namespace-configurations/`
 leads me here.

Since podPresets resource type no longer exists in openshift 3.11 k8s APIserver,so i think CR `namespaceconfig` probably won't b

[2019-08-19 11:47] raffaelespazzoli commented on #9
podpresets are not supported by OpenShift. The recommended approach is to build a mutatingwehook to address the mentioned issue. There is not much this operator can do in that regard.

[2019-08-20 08:17] archerbj commented on #9
I see, thanks for the reply !

[2019-08-20 08:17] #9 closed

[2019-10-12 20:15] raffaelespazzoli commented on #8
#12 resolved this issue

[2019-10-12 20:15] #8 closed

[2019-10-12 20:15] #3 closed

[2019-10-20 23:29] rh-tstockwell opened #14 "Operator panics when attempting to delete resources."
The latest version of the operator appears to panic when attempting to delete resources.

[code]

I believe this is due to [deleteResource()](https://github.com/redhat-cop/namespace-configuration-operator/blob/66b667cf2bc18d923700d6342177077a40c3e73f/pkg/controller/namespaceconfig/namespaceconfig_controller.go#L358) being commented out.

[2019-10-22 03:23] #14 closed

[2019-10-29 13:18] raffaelespazzoli opened #18 "Consolidate the two deploying the operator paragraphs"

[2019-10-31 11:52] D1abloRUS opened #20 "Dynamically create a ServiceAccount and RoleBinding using the namespace name"
is it possible?

[2019-10-31 12:27] raffaelespazzoli commented on #20
@D1abloRUS if you mean that the created ServiceAccount and RoleBinding should be somehow parametric on the namespace name, then no it is not possible at the moment because there is no support for templating.

[2019-10-31 12:42] D1abloRUS commented on #20
@raffaelespazzoli it would be great

[2019-11-04 15:16] jtudelag opened #21 "[RFE] Support regexp or "selection expression" in the MatchLabels."
First of all, thanks for this awesome operator, it is super useful!!!

It would be great to be able to use regexp or "selection expressions" in the matchLabel selector

For example:
[code]

Or selection expressions, like the ones used in the [OCP Router Sharding](https://docs.openshift.com/container-platform/3.11/install_config/router/default_haproxy_router.html#using-router-shards):

[code]

[2019-11-05 00:55] stocky37 commented on #21
You can use `matchExpressions` instead of `matchLabels` for selection expressions. See: [Resources that support set based requirements](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements).

[2019-11-05 13:36] raffaelespazzoli commented on #20
do you want to be able to name the service account and the role binding based on the namespace name? That would be difficult because the resource name is a key used by the operator to retrieve the resource at the later time and compare it with the desired state.
Adding the logic to support renaming resources it's probably possible (I'd have to think about it) but it would make the operator logic w

[2019-11-05 15:31] raffaelespazzoli commented on #18
closed by #23

[2019-11-05 15:31] #18 closed

[2019-11-05 15:33] raffaelespazzoli opened #24 "add deployment instructions for OperatorHub"
a third way of deploying this operator exists and that is via the operator hub. Add a few instructions on how to do it via the WebUI and also via the CLI.

[2019-11-05 15:35] raffaelespazzoli commented on #21
closed by #22

[2019-11-05 15:35] #21 closed

[2019-11-08 07:27] jtudelag opened #25 "Consolidate namespace-configuration-operator with rbac-permissions-operator?"
I would be great to merge functionality from `namespace-configuration-operator` and the [rbac-permission-operator](https://github.com/openshift/rbac-permissions-operator)

They both have related features, and IMHO would be good to consolidate both into just one awesome operator ;).

[2019-11-08 14:58] raffaelespazzoli commented on #25
the provided link seems to be broken. can you fix it.

[2019-11-08 15:00] jtudelag commented on #25
@raffaelespazzoli done ;)

[2019-11-13 19:21] karlkfi opened #26 "Architecture Diagram?"
Anyone have a component diagram for this? Is it just a single Deployment? Is it HA?

Side note:
Is this really an operator? Seems like just a controller with a CRD, since it doesn't manage the lifecycle of any pods or application.

[2019-11-18 11:12] jtudelag opened #27 "Error: non-standard resources (without the spec field) are not supported."
Altough the rolebinding object is created properly in the matched namespaces,
the NamespaceConfig object reports a failure status: `non-standard resources (without the spec field) are not
    supported`

Any ideas?

[code]

[2019-11-18 12:36] raffaelespazzoli commented on #27
this looks like a bug.
consider switching to a list jsonPath exclusions, like for this operator:
https://github.com/redhat-cop/resource-locker-operator/blob/master/pkg/lockedresourcecontroller/resource-reconciler.go#L56

[2019-11-18 17:47] jtudelag commented on #27
Sorry @raffaelespazzoli but I dont get your sugestion.
* Does this operator support the exludePaths selector? Like these ones?

Do you have any example? At which level in the yaml should I put the excludePaths?

Thanks!!

[2019-11-18 19:02] raffaelespazzoli commented on #27
sorry for the misunderstanding. It meant to be a suggestion on how to fix the bug.

[2019-11-18 23:32] redmikhail opened #28 "Ability to use namespace name in objects created by NamespaceConfig CR"
Similar to issue #20 but for  OperatorGroup objects for OLM. OperatorGroup object is required for operator deployment using OLM .In cases when operator is intended to be deployed to single namespace one of the parameters that needs to be specified is ` targetNamespaces` which would be unknown until project(namespace) has been created and labeled , eg.
[code]
While OperatorGroup can utilize selecto

[2019-11-19 14:37] raffaelespazzoli opened #29 "add the ability to define templated resources"
this covers for the following issues #28 #21 #20
a straw-man design is:
1. go templating language
2. the current namespace is passed as the only parameter to the template
3. the same functions as helm will be available to the template engine.

[2019-12-02 02:15] raffaelespazzoli opened #33 "add the ability to manage users and groups"
To complete support for auto-configuration of tenants, we need the ability to potentially create resources when groups or user are created.
Groups are usually create/modified during a group sycn (for example LDAP group sync)
User are created when they login.

Example use cases:
In a situation where a group identifies a dev team working on a project, when a group is created, the namespaces needed t

[2020-01-21 16:27] sboschman opened #34 "Memory leak"
Seems the namespace-configuration-operator keeps using more and more memory. After a node suffered some oom issues the log showed a namespace-configuration-operation process being oom-killed by the kernel, releasing 150gb of memory.

As the chart currently does not support setting resource limits/requests for the operator process, I used a k8s `LimitRange` resource to limit the operator to 2gb mem

[2020-01-21 22:20] rh-tstockwell commented on #34
FWIW I'm seeing the same thing on a 3.11 cluster.

[2020-01-22 15:57] sboschman commented on #34
Seems to be in the metrics part:

Just after start:
[code]

A few minutes later:
[code]

[2020-01-23 11:11] sboschman commented on #34
Upgraded the dependencies to Operator SDK 0.15 pinning k8s to 1.16.2. After fixen a few compile errors I was able to start the operator locally:

[code]

After disabling the creation of a manager for each resource (https://github.com/redhat-cop/namespace-configuration-operator/blob/master/pkg/controller/namespaceconfig/namespaceconfig_controller.go#L518, introduced with #11 ) the memory usage seem

[2020-03-04 11:14] lbourgeois76 opened #36 "[Openshift 4] - [ServiceAccount] : Token creation with ininity loop"
We have implemented in our openshift the use of the NS-configurator operator link to Service account (see the REAME exemple https://github.com/redhat-cop/namespace-configuration-operator#serviceaccount-with-special-permission).
In our case the namespace will contain a lot of secret token creation. These are created in infinity loop until crash our ETCD.

We are also using it to setup on our namspa

[2020-03-04 11:25] lbourgeois76 commented on #36
With the operator log:
[code]

[2020-04-15 11:06] raffaelespazzoli commented on #20
Duplicate of #29
Duplicate of #28

[2020-04-15 11:07] raffaelespazzoli commented on #28
Duplicate of #20
Duplicate of #29

[2020-04-15 11:15] raffaelespazzoli commented on #29
@redmikhail @D1abloRUS you both have showed interest in the ability of templating resources.
I am redesigning this operator to allow to do that. I wanted to submit this new design to your attention to see what you think about it.
Instead of an array of resources you'll have the ability to define an array of golang templates. Once processed the templates need to resolved to a resource. The template

[2020-04-15 13:05] D1abloRUS commented on #29
no need anymore

[2020-04-26 14:01] #33 closed

[2020-04-26 14:01] #34 closed

[2020-04-26 14:01] #27 closed

[2020-04-26 14:01] #29 closed

[2020-04-28 11:40] ichmachnixichgucknur opened #39 "disable userconfig and groupconfig controller when not running in OpenShift"
I am using namespace-configuration-operator on K8s (Rancher) and it does a great job. Now, I wanted to update because of huge memory consumption - above 11GB of RAM.
So I wanted to test the latest image coming from quay.io and run into errors. Looks to me as if there are Openshift owned attributes missing?!

`{"level":"info","ts":1588073119.4583592,"logger":"controller-runtime.controller","msg":"S

[2020-04-28 12:28] raffaelespazzoli commented on #39
some of the new features will work only in OCP, because kubernetes does not have the corresponding concepts. however I think it would be good to let at least the namespace configuration controller to keep working in kube.

[2020-05-01 14:19] raffaelespazzoli commented on #39
@ichmachnixichgucknur this branch https://github.com/raffaelespazzoli/namespace-configuration-operator/tree/preparing-for-v0.2.0 has the fix to this problem. feel free to test it.
I am currently not able to merge this branch yet for problems unrelated to this issue. So I'm just letting you know in case you are in a rush.

[2020-05-06 18:12] raffaelespazzoli commented on #28
this has been closed in #37

[2020-05-06 18:12] #28 closed

[2020-05-06 18:13] raffaelespazzoli commented on #20
this has been closed with #37

[2020-05-06 18:13] #20 closed

[2020-05-06 18:15] raffaelespazzoli commented on #26
@karlkfi there is nothing that gets deployed by this operator except for the resources that you define.
this operator manages configuration not applications, so I feel most of your questions do not apply.

[2020-05-06 18:15] #26 closed

[2020-05-06 18:16] raffaelespazzoli commented on #36
@lbourgeois76 could you test again this issue with the current master?

[2020-05-06 18:35] #39 closed

[2020-05-06 18:51] lbourgeois76 commented on #36
Sorry i dont understand what exactly you want.
Did you change the version?
May i have to do something before?
May i give you more logs ?
Or it is just To know if the problem is still here?

[2020-05-06 19:09] raffaelespazzoli commented on #36
@lbourgeois76 I'm in the process of releasing a new version that will add some features that were highly requested. It will also sightly change the CRD (sorry).
It should be out on operatohub in the next few days. In the meantime you can try the new version with the helm-based deployment.
I was asking you if you could see of the error is still there with the new version.

[2020-05-06 19:55] lbourgeois76 commented on #36
Ok. I Will see with my collegues tomorrow if  we can do it as soon as possible.
Any prerequisit?
Openshift version ? Environnement version?
Which is the link (tag) of the version to test?

[2020-05-07 01:35] raffaelespazzoli commented on #36
`Any prerequisit?`

none besides normal operator suff.

`Openshift version ?`

I tested only in 4.x, but I don't see why it wouldn't work in OCP 3.x. I also added support for kuberneets.

`Environnement version?`

not sure what you mean here.

`Which is the link (tag) of the version to test?`

v0.2.0, but please read the new docs before just updating the image tag.

[2020-05-08 12:51] seb54000 opened #41 "resourceVersion should not be set problem (kube 1.11)"
Dear all (thanks for your work on this operator)
I manage namespaceConfigs with netpol, rolebinding, limitrange and resourcequotas spec.
If I manually delete a netpol created by the operator in the target namespace, the operator is then unable to recreate it.
In logs I have :
`{"level":"error","ts":1588750393.6752868,"logger":"util","msg":"unable to create object","object":{"apiVersion":"networkin

[2020-05-08 13:07] raffaelespazzoli commented on #41
@seb54000 we just released a new version v0.2.0, could you try if it fixes your issue?

[2020-05-08 14:41] seb54000 commented on #41
Thanks @raffaelespazzoli for your quick reply.
I didn't see the new version, so I've just test it but it doesn't work, here are the details :

- The CRDs are not working with OCP 3.11 (it seems due to kube 1.11, I found an issue here about this : https://github.com/jetstack/cert-manager/issues/2200

- I manage to deploy CRDs by commenting 2 lines in each of the three CRDs
[code]
{"level":"error","

[2020-05-11 11:06] ahmedwaleedmalik opened #43 "Cannot test this because impersonation is not working"
I cannot test the workflow since impersonation is not working. I can see that it is mentioned in the documentation [here](https://github.com/redhat-cop/namespace-configuration-operator/blob/master/examples/team-onboarding/readme.md#create-users-and-groups) as well. But is there any other way to test stuff out ?

Also, I think until the ticket [MSTR-1000](https://issues.redhat.com/browse/MSTR-1000)

[2020-05-11 11:14] raffaelespazzoli commented on #43
@ahmedwaleedmalik if you can setup a real IDP provider with OCP, then you don't have to impersonate users, you can simply login as that user to test. Impersonation is needed in the artificial scenario of the example where we can't make any assumption on the IDP provider.

[2020-05-11 17:05] raffaelespazzoli commented on #41
@seb54000 modifying the CRDs will definitely break the operator.
It might be that the new CRDs don't work in 3.11, I haven't tested although I can't imagine why.
Maybe you could work with the local red hat team (if there is one) to set up a troubleshooting session.

[2020-05-11 18:59] ichmachnixichgucknur commented on #39
Sorry for reopening this.
I tried 0.2.0 and it does not react on any change on namespaces. It comes up without any error, reads the configured CRs but does not do anything on them.
Can I configure a debug mode to get more logging?

[2020-05-11 19:07] raffaelespazzoli commented on #39
you can enable debug with this flag: `--zap-level=debug`
did you convert your CR to the new format?

[2020-05-12 06:28] seb54000 commented on #41
Hi, we'll definitely try to set up this troubleshooting session.
After further research, on 3.11, it seems that we need to upgrade in 3.11.200 to make the new CRD work. https://bugzilla.redhat.com/show_bug.cgi?id=1803163

[2020-05-12 06:28] ahmedwaleedmalik commented on #43
Yup, that makes sense.

[2020-05-12 06:28] #43 closed

[2020-05-12 06:49] ichmachnixichgucknur commented on #39
sorry, I did not get that change on the CR format.
Now, I updated the CRs but the selector does not work. It just applies to all.
Do you have any hint on that?
[code]

[2020-05-12 12:32] raffaelespazzoli commented on #39
the selector field is called `labelSelector` not selector.

[2020-05-14 08:41] ichmachnixichgucknur commented on #39
works - thanks!

[2020-05-14 13:10] seb54000 commented on #41
Hi @raffaelespazzoli , just to let you know we manage with help of local redHat to reproduce the bug in v0.1.0 on a 3.11.200 cluster.
Goog news is the "resourceVersion should not be set bug" is effectively corrected in v0.2.0 with a 3.11.200 OCP cluster.

Thanks again for your work and help

[2020-05-14 13:10] #41 closed

[2020-05-20 11:16] bergerx opened #48 "Status of the project"
Hi, this morning i've played a bit with the operator and so far this one is the closest tool that we currently need, we'd like to use and contribute to the project rather than creating an internal tool from scratch, but I have some open questions in mind:
* We are not using openshift, would you be willing to accept PRs for adding features as if this is an independent open source project, or, is th

[2020-05-20 13:01] raffaelespazzoli commented on #48
@bergerx
this project is open for contribution and should be able to run on any kubernetes cluster. I recently made a change to make sure that happened. That said kubernetes does not seem to have the concept of user and groups, so I didn't know how to map those functionalities on  kube. For now they are disabled. Any design/implementation suggestions here would be welcome.
To answer you other ques

[2020-05-20 15:39] bergerx commented on #48
Thanks for the information, thats quite helpful.

[2020-05-20 15:39] #48 closed

[2020-05-20 16:18] bergerx opened #49 "reconcile error triggered by some status fields to be set to invalid values"
Version 0.2.0 complains about setting some setting some status fields of the CR to invalid values on namespace creation, but keeps working. It logs the below error (human readable form here, raw details are below):

error:
[code]

stacktrace:
[code]

More details to replicate:

Operator is deployed with helm on a fresh minikube instance:
[code]

The namespaceconfig's status field is getting the up

[2020-05-25 12:39] bergerx opened #50 "Provide a way to identify operator generated resoruces"
It could be helpful to identify the resources created by the controller. Currently some teams in our clusters are creating their own network policies and they may get confused with the new NetworkPolicies we are injecting into their namespaces. They don't have an easy way to identify how such resources are created.

The common method for such case is to place an ownerReferences to the generated ob

[2020-05-25 13:23] raffaelespazzoli commented on #50
cross-namespace owner referenced are disallowed by design, so that is not a viable option.
as far as labels go, you can put the labels yourself in the generated objects.

[2020-05-25 16:58] bergerx commented on #50
Ah yes, we can do that, would be quite straightforward, thanks for the
suggestion.

On Mon 25 May 2020, 14:23 raffaelespazzoli, <notifications@github.com>
wrote:

[2020-06-06 17:45] tylerauerbeck opened #51 "Transition to new OLM bundle format"
OLM is transitioning to use a new bundle format which will provide some additional benefits as described here: https://github.com/operator-framework/community-operators/issues/1680

Currently, it looks like they'll look to support both the bundle format and the packagemanifest format, but would assume they would look to fully transition to the bundle format in the future. Would be good to begin lo

[2020-06-09 15:41] raffaelespazzoli commented on #49
I have noticed this error too. Eventually the operator always converges to a stable state, but I agree that this error should be fixed.

[2020-06-11 10:05] saberkan opened #53 "[FEATURE] Request for upgrade feature or doc"
Issue:
We are trying to find the best approach to upgrade the configurator. While CRD may have some changes, we need to find an approach to upgrade existing CRs without deleting them.

Expected:
An official procedure to upgrade the operator in a stable manner (without deleting existing CRs and CRDs).

[2020-06-11 12:29] raffaelespazzoli commented on #53
can you test this approach:
1. turn off the old version operator (scale to zero).
2. delete the CRs
3. update the CRDs
4. create the new CRs equivalent to the old ones
5. deploy the new operator
6. delete the old operator

If it works as expected we can document it.

[2020-06-13 13:38] #49 closed

[2020-06-19 17:53] #24 closed

[2020-06-26 13:07] saberkan commented on #53
The procedure was applied successfully, meanwhile in step 4. we needed to delete existing CRDs, and recreate them, otherwise the following error occurs:
$ oc apply -f deploy/crds/redhatcop.redhat.io_namespaceconfigs_crd.yaml
Warning: oc apply should be used on resource created by either oc create --save-config or oc apply
The CustomResourceDefinition "namespaceconfigs.redhatcop.redhat.io" is inval

[2020-06-26 13:34] saberkan opened #55 "[BUG] Unable to update CR, lockedResourceStatuses"
**Issue:**
When creating namespace config CR, resources are successfully created but operator show log error.
When updating CR, created resources are not updated. operator doesn't show any error.

**How to reproduce:**
1 - Install v0.2.0 or latest
2 - apply namespace config:
[code]
3 - Check resource created, but log error in operator
[code]

4 - Update namespaceconfig  overcommit-limitrange, limi

[2020-06-26 14:06] raffaelespazzoli commented on #55
#54 should fix this issue.

[2020-06-28 18:04] cshivashankar opened #56 "[FEATURE] Onboarding teams which has ability to create,delete namespaces and operate objects within namespace"
I don't know if the Namespace configurator currently supports this feature, but looking at the docs, I couldn't find any information about this.

Scenario :
What if a team is onboarded which in turn has subteams and those subteams need to have independent sandboxes/namespaces for work. Assuming there is a team T1 and there are subteams T1A, T1B, T1C. With current onboarding, there is an ability to

[2020-06-29 14:35] #53 closed

[2020-07-02 15:12] saberkan commented on #55
I rebuild the operator from master and last commit (afed330d97a1444c39af245c763c31baaad9c06a).There is no more error message, but editing namespaceconfig doesn't work.

**Create namespaceconfig**
[code]
Operator logs:
[code]

**Edit examples/namespace-config/overcommit-limitrange.yaml, and set memory at 2**
[code]

You can see that memory is still 1

Operator logs:
[code]

[2020-07-09 19:13] #55 closed

[2020-07-27 11:06] bergerx commented on #50
We hit the issue with the fact that the metadata field is in the default always ignore list of existing resources (https://github.com/redhat-cop/namespace-configuration-operator/tree/0c1fc135a068f1cebcbfe56d7dd9c4f0e278da13#excluded-paths). So this trick doesn't work with resources which are already created.

[2020-07-27 14:19] raffaelespazzoli commented on #50
I'm not sure what you mean, could you make an example?

[2020-07-27 14:53] bergerx opened #60 "some namespaces fail to be reconsiled consistently"
We have a certain template being applied to all but one specific namespace on multiple clusters with same configuration.

I couldn't yet get a way to reliably replicate the issue, or went through the code to debug, but here are two log lines keep repeating during reconciles, these may be related (i changed the log line format little bit to make them easy to read):
[code]

Initially we were on an o

[2020-07-28 00:30] raffaelespazzoli commented on #60
the update status error is most often innocuous. There is a clear reason for it and I did not found away to eliminate it. You should see that eventually the system converges to a stable and correct state. If that is not happening for your situation, let's dig deeper.
I'll need to see more logs prior and after the error messages.

[2020-07-28 00:34] raffaelespazzoli commented on #25
I think the namespace-configuration-operator can be used to create permissions.Alternatively the rbac-permission-operator can and the operator could be used together. Either way I don't see what kind of merge you are asking for.
Can I close this issue?

[2020-07-28 00:35] raffaelespazzoli commented on #36
@lbourgeois76 may I close this issue?

[2020-07-28 00:38] raffaelespazzoli commented on #56
If I understand correctly this request,. you are asking for the possibility to create loops in the resource template so that multiple resources of the same type will be created based on an arbitrary list.
@cnuland is working on a PR to add this feature: https://github.com/redhat-cop/operator-utils/pull/32

[2020-07-28 00:39] raffaelespazzoli commented on #50
also please feel free to reopen this issue if necessary.

[2020-07-28 06:33] jtudelag commented on #25
Yes, I will go ahead and close it, I dont even remember why I opened it in the first place....

[2020-07-28 06:33] #25 closed

[2020-07-28 14:19] cnuland commented on #56
Take a look at my examples here @cshivashankar
https://github.com/cnuland/namespace-config-argocd-ocp-demo/blob/master/resources/onboarding-groupconfig.yaml

https://github.com/cnuland/namespace-config-argocd-ocp-demo/blob/master/resources/group.yaml

This is using the changes in operator-util that @raffaelespazzoli posted that haven't been implemented yet into any release. This should give you an

[2020-07-29 12:53] bergerx commented on #60
Nope, this issue was sticking forever, cant get around eventually and keeps the provisioner in the reconcile loop indefinitely causing it to create huge logs i guess since doing a `kubectl logs --tail 10 -f <pod-id>` was causing non-stop log flow.

There were no particular logs around these, just a few regular reconcile logs, i don't think we have any instance around anymore, but i'll try to get i

[2020-07-30 14:17] saberkan opened #61 "[BUG] Resources disappear after reconciliation"
# Issue:
When installing version v0.2.1 resources still disappear after reconciliation. I though this was related to my environnement (when closing issue #55), but even with a different cluster and operator installation from scratch it still behaving the same.
We tried to debug on OCP 4 and OCP 3 cluster, and the issue still remain.

# How to reproduce
1 - Install v0.2.1 manually
2 - create and la

[2020-07-30 15:10] raffaelespazzoli commented on #61
@cnuland would you be able to look into this issue?

[2020-07-31 01:48] raffaelespazzoli commented on #61
@saberkan I have been trying to reproduce it, but no success:
[code]
not sure how to help, any suggestion?

[2020-07-31 02:44] raffaelespazzoli commented on #61
I was actually able to reproduce it, but only with the operator deployed from OLM...
Will look into it more tomorrow.

[2020-07-31 08:01] saberkan commented on #61
Great, thank you @raffaelespazzoli, I couldn't neither reproduce it every single time. I though it was something with my environment. But it seems not, and the bug doesn't occur every single time but at least a majority of times in my case.

[2020-08-01 19:40] #61 closed

[2020-08-01 20:16] raffaelespazzoli commented on #61
@saberkan I thin the last merge should fix the issue, but as you know it's not easy to reproduce. Would you be able to make a build from master and test it before I cut a release?

[2020-08-02 15:52] sabre1041 opened #63 "Specify Red Hat Community of Practice in CSV"
To align the CoP operators, update the `provider` field in the CSV to the following:

[code]

[2020-08-04 06:03] kahootali commented on #36
I am also facing same issue...
Openshift 4.5.4
Namespace Config Operator: 0.2.1

Created a NamespaceConfig with ServiceAccount, when namespace was created, it went into an infinite loop, creating new secrets and reloading SA. It created 1000s of secrets

[2020-08-04 09:45] rasheedamir commented on #36
@raffaelespazzoli we can make the PR for this change if you can guide us where the issue could be; this issue is blocking us

[2020-08-04 11:14] raffaelespazzoli commented on #36
@kahootali I tested this morning the with the example on the repo (https://github.com/redhat-cop/namespace-configuration-operator/tree/master/examples/namespace-config#serviceaccount-with-special-permission) and everything seems fine. I cannot reproduce this issue.
I have not tried though with explicitly adding secrets to the service account. Can you try to ignore the secrets in the reconcile loop

[2020-08-04 14:55] kahootali commented on #36
@raffaelespazzoli Yeah it worked by adding the excludedPaths, can you please tell what `excludedPaths` field does for our understanding?

[2020-08-04 15:09] raffaelespazzoli commented on #36
@kahootali  please see the docs: https://github.com/redhat-cop/namespace-configuration-operator#excluded-paths

[2020-08-06 10:16] saberkan commented on #61
@raffaelespazzoli thank you for the fix, I confirm It works now for me under. OCP 4.4.8, and OCP 3.11.200.

[2020-08-06 14:41] #63 closed

[2020-08-25 07:40] everpeace opened #67 "support complex template processing"
Hi, Thanks for sharing the great project.  I have hundreds of personal namespaces for each employees in my company internal cluster.

I'm planning to use `NamespaceConfig` to setup pre-defined resources for them.  But, I noticed `LockedResource.templateObject` uses very vanilla golang's [`text/template`](https://golang.org/pkg/text/template/) package (in operator-utils).

https://github.com/redhat

[2020-08-26 12:36] everpeace commented on #67
As mentioned in redhat-cop/operator-utils#35, redhat-cop/operator-utils#34 is supporting sprig functions an more (helm functions e.g. `toYaml`, etc.).  Once the PR is released, it should upgrade to it.

[2020-08-31 13:47] rguilme1 opened #69 "OperatorHub Packaging - Support Disconnected Environment Deployment"
Please consider packaging the OperatorHub deployment of this operator to use the image sha256 digest notation instead of a version tag so that installations that are offline and utilize mirror registries will be able to deploy this operator and have the image pulled from the mirror for the quay.io registry.   OCP does not support tags with mirror registries.

This is important for secure environme

[2020-08-31 16:54] raffaelespazzoli commented on #60
@bergerx are you still experiencing the problem? May I close this issue?

[2020-08-31 18:12] bergerx commented on #60
Lets close this, i can open another one if i hit again and more details.

On Mon 31 Aug 2020, 17:55 raffaelespazzoli, <notifications@github.com>
wrote:

[2020-08-31 18:13] #60 closed

[2020-09-01 10:33] #36 closed

[2020-09-12 00:25] #56 closed

[2020-09-12 00:25] #67 closed

[2020-09-17 01:17] filiy opened #72 "Functions don't seem to work at all"
Trying to use functions fails with errors. I've tried upper, lower, lookup, and regexFind and all get the same error "function not defined"

This example of creating a namespace from a namespace with a label (goal here is to use one namespace to provision multiple environment namespaces)

Config:
[code]
Error from operator pod:
[code]

[2020-09-17 01:35] raffaelespazzoli commented on #72
the function feature is not released yet, so if you want to use you'll have to build your own image or pull the `:latest`.
if you are doing that already then we probably have a bug and I would like to better understand your use case.
@cnuland cc

[2020-09-17 02:21] filiy commented on #72
Ahh that would make sense. The readme explains how to use functions which is why I thought they were working.

I can try and pull latest and test again.

The use case here is to use to use something other than {{ .Name }} variable for creating objects. Say we have a group called projectname-admins. I want to create multiple namespaces with just the projectname portion of the group name like projec

[2020-09-17 03:26] filiy commented on #72
Functions are working with the latest image. This is working for my needs. Happy to close this. Maybe update the readme to call this out?

[2020-09-28 11:06] ichmachnixichgucknur opened #74 "update 0.2.0 -> 0.2.3 limits or quotas always added"
Hi,
I am using the operator just to configure namespaces - resourcequotas and limitranges - running on kubernetes (no Openshift).

I am running 0.2.0 and it does a great job. Now I wanted to update to 0.2.3 and a problem. Every configuration is added, but not deleted/released. So if I change somthing, the new matching configuration just added to the namespace configuration. That's the case for res

[2020-09-28 15:39] cnuland commented on #74
@ichmachnixichgucknur could you provide us with the NamespaceConfig here so we can try to recreate? thanks!

[2020-09-29 14:03] ichmachnixichgucknur commented on #74
@cnuland, sure.
Here is an example:

[code]

[2020-10-11 20:17] cnuland commented on #74
Quick update on this, I was able to reproduce this issue on 0.2.3, but I also see the same issue in 0.2.2 when testing in OCP, specifically when dealing with `NamespaceConfig`. I only had a couple hours to investigate this last week, but will budget some more time later this week to investigate further (including testing in k8s) and look into a solution. Thank you for the patience!

[2020-10-19 17:01] cnuland commented on #74
Found the source of this issue, tracking PR in the operator-utils project
https://github.com/redhat-cop/operator-utils/pull/39

[2020-10-20 05:52] ichmachnixichgucknur commented on #74
gr8!
Thank you!

[2020-10-21 02:36] #74 closed

[2020-10-21 02:44] #72 closed

[2020-10-23 06:34] ichmachnixichgucknur opened #78 "Base image update to ubi8?"
Hi,
is there any reason why you are using ubi:7.6?
Using tools like Prisma you will find several vulnerabilities in this image. The current ubi8-minimal image looks much better. And because the namespace-configuration-operator is written in GO, it shouldn't be a problem to use up2date images.

[2020-11-08 21:26] yaroslavkasatikov opened #81 "Openshift namespace config doesn't apply to system namespaces (openshift-*)"
Hello team,

I want to create a resource in `openshift-*` ns, but it doesn't work for me.

I want to select them with default cluster-monitoring label:

[code]

But when I tried to use this label as selector, I faced to openshift-* ignoring.

[code]

I understand that it is a kind of protection (https://github.com/redhat-cop/namespace-configuration-operator/blob/446b2bbe8c47287a9afef7c9d182474549e

[2020-11-20 10:07] denisj07 opened #82 "Need support for excludedPaths and image refs"
I use the namespace-configuration-operator to deploy jenkins instances to namespaces with a 'build' label.

Unfortunately the namespace-configuration-operator tries to update the deployment config's image field (or gets triggered because this field was updated by OpenShift). This leads to endless reconciliation attempts:

[code]

This is the namespace configuration object:
[code]

The image ref in

[2020-12-08 15:26] cnuland commented on #82
@denisj07 which version of the operator are you using and on what platform? (OCP, k8s, etc)

[2020-12-09 10:56] denisj07 commented on #82
@cnuland the operator is on version 0.2.5 running on OpenShift Container Platform 4.5

[2020-12-15 14:47] bonkstok opened #83 "Disconnected Openshift cluster support"
Hello,

We are running an Openshift 4.5 cluster in a restricted / disconnected environment.

When following the Openshift steps to copy the community catalog operators, pulling the right images and creating imagecontentsourcepolicies, the namespace-configuration-operator cannot be installed without altering the pod spec when using a disconnected Openshift installation.

I think this is because in

[2020-12-15 14:47] #83 closed

[2020-12-15 14:52] bonkstok commented on #69
We had / have the same issue.
It would indeed be very nice if the hash is used rather than the tag (also what Red Hat suggests).

As a workaround you can edit the csv and change the image to for example your on-prem registry or use the hash there :)

[2020-12-23 20:48] praveenlnx opened #84 "Networkpolicy defined in namespaceconfig not working"
As per the example, created the networkpolicy for multitenant in namespaceconfig & it's not working. Got the below error.
When created the namespaceconfig got the below response initially:

status:
  conditions:
  - lastTransitionTime: "2020-12-23T20:43:02Z"
    message: Awaiting next reconciliation
    reason: Successful
    status: "True"
    type: ReconcileSuccess

But after sometime, we got th

[2020-12-24 15:11] a1ex-var1amov opened #85 "Service accounts and tokens issue"
Hi everyone,

We tried to use the Operator to create service accounts across our projects in OpenShift.
After a few weeks, we found an enormous number of secrets for our services accounts.
The same picture across all non-system namespaces.

So the reason looks like this: when a user creates a new project/namespace, the operator makes new tokens for the same service accounts around all non-system p

[2020-12-24 23:47] raffaelespazzoli commented on #81
@yaroslavkasatikov sorry for taking so long to respond, this slipped. No at the moment the openshift and kube namespaces are protected. IT's a safety feature to prevent this operator from disrupting a cluster.
Can I close this?

[2020-12-24 23:57] raffaelespazzoli commented on #82
@denisj07 updating the image field is a feature (?) of openshift deplymentconfig, you can easily work around it by switching to Deployment
The excluded path should work with json standard path expressions, so in your case the expression would look like this:
`.spec.template.spec.containers[n].image` where n is the container for which you want the image to be excluded (counting from 0).
You can als

[2020-12-24 23:59] raffaelespazzoli commented on #84
please attach the namespace config object that is not working and the namespace that is supposed to trigger it. This way I can try to reproduce the issue.

[2020-12-25 00:12] raffaelespazzoli commented on #85
the operator does not do much with the secrets associated with a service account. Here is what possibly is happening:
1. when a new namespace is created, the new set of objects that this operator is managing is recalculated. In this case we are adding two service accounts and a two role bindings.
2. the manager with the controllers watching the objects managed by this operator is stopped and recre

[2020-12-25 03:43] raffaelespazzoli commented on #85
One more thought, try to put `spec.managedFields` in the ignored paths, I suspect this is what is causing the changes.

[2020-12-25 08:45] angapov commented on #85
@raffaelespazzoli  adding `.spec.managedFields` to `excludedPaths ` didn't help. Actually `managedFields ` sits under `metadata` field and we already have `metadata` included by default.

[2020-12-25 21:22] #51 closed

[2020-12-25 21:22] #78 closed

[2020-12-28 07:05] praveenlnx commented on #84
[multitenant-np-nsconfig.txt](https://github.com/redhat-cop/namespace-configuration-operator/files/5746205/multitenant-np-nsconfig.txt)

[2020-12-28 07:05] praveenlnx commented on #84
Attached the namespace config object, please review it.

[2021-01-06 10:09] davidkarlsen opened #87 "howto lookup data?"
I have a namespaceconfig:
[code]

how can I lookup the annotation openshift.io/requester from the namespace I create the role within, in order to set the user? I tried digging in the code to find how the templating works, but it wasn't obvious to me.

[2021-01-06 11:15] davidkarlsen commented on #87
So part of this question is really how is the input-context? Since this is a `NamespaceConfig` it's the namespace, but what keys does it have? everything under metadata, and keys uppercased?

[2021-01-06 11:16] davidkarlsen commented on #87
I tried:

[code]

but then I get "error calling index: index of untyped nil".

[2021-01-06 13:25] raffaelespazzoli commented on #87
all of it is governed by golang templating rules. Also the namespace is already passed as the root parameter of the the template so you should simply be able to do:
[code]

[2021-01-10 01:36] cnuland commented on #84
@praveenlnx a few questions to narrow this down a bit,

What k8s platform are you using?
Which version of namespace configuration operator?
What other operators are you running?

[2021-01-11 13:46] praveenlnx commented on #84
We're using Openshift (4.4.31) & k8s (v1.17.1).
namespace-configuration-operator:v0.2.5
Other required operators like dynatrace, egress IPAM, elasticsearch, Openshiftservice mesh, clusterlogging, etc.,

[2021-01-13 17:15] denisj07 commented on #82
@raffaelespazzoli thanks for your hints!
Unfortunately switching to a Deployment is not an option as we rely on the image change trigger feature of OpenShift's DeploymentConfig.

I spent my last few hours trying all different kind of jsonpath combinations. But they don't seem to work. Instead this time I definitely got the proof that there is a race condition between the openshit-controller-manage

[2021-01-17 17:35] cnuland commented on #84
I was able to make this work by having all `podSelector:` entries be `podSelector: {}` and making sure that `policyTypes:` was present where needed. I'm not sure why the blank `podSelector` isn't working through, as that has worked in previous iterations and shown in our examples. Going to leave this open to investigate further, but here is what I did to at least get your example working.
[multite

[2021-01-27 16:31] gforster opened #88 "Failed: OwnNamespace InstallModeType not supported when upgrading to 1.0.0"
Getting the following error after cluster upgrade:

`Failed: OwnNamespace InstallModeType not supported, cannot configure to watch own namespace`

Operator version 1.0.0

[2021-01-27 17:49] raffaelespazzoli commented on #88
please remove the namespace from the operatorgroup. It should look something like this:
[code]

[2021-01-27 17:53] raffaelespazzoli commented on #87
can we close this?

[2021-01-27 18:58] davidkarlsen commented on #87
Yes. Thanks for the info.

[2021-01-28 15:42] cnuland commented on #85
@angapov is this still an issue? Let me know and I can look into it further if it is still happening.

[2021-01-28 15:45] cnuland commented on #81
Closing this out since there's no current solution and the issue has gone stale.

[2021-01-28 15:45] #81 closed

[2021-01-28 15:51] cnuland commented on #82
@denisj07 could you see if the annotation trigger for the `Deployment` resource type works for you?
https://developers.redhat.com/blog/2019/09/20/using-red-hat-openshift-image-streams-with-kubernetes-deployments/

I'm curious to see if that prevents the issue, if not let me know and I can try to reproduce the issue myself.

[2021-01-28 15:52] cnuland commented on #84
Closing this out since an empty quote or empty object should cover these validation cases. I'll update the documentation to reflect this change.

[2021-01-28 15:52] #84 closed

[2021-01-29 14:13] denisj07 commented on #82
@cnuland I've tested the `Deployment` type and that worked. The namespace-configuration-operator does not try to update the object anymore.

But now I have the same issue with another object... All of our Jenkins instances should have a Service of type `NodePort` that we use to communicate with VMs for Windows-based builds. The nodePort is set by OpenShift / Kubernetes dynamically and this time ou

[2021-01-29 18:34] gforster commented on #88
thank you

[2021-01-29 18:34] #88 closed

[2021-02-15 21:42] #85 closed

[2021-02-15 21:43] cnuland commented on #85
Considering this closed since no new information has been provided, please reopen if anything new comes up.

[2021-02-19 11:05] cuttingedge1109 opened #89 "NamespaceConfig CR is not deleted automatically because of finalizer"
I am using namespaceconfig CR to create secrets and groups in the specific namespaces. It works well when create.
But when I try to delete, it hangs up and I need to remove finalizer in the manifest manually to perform deletion finally.
I checked the operator logs and found the followings:
[code]

[2021-02-19 14:17] raffaelespazzoli commented on #89
@cuttingedge1109 thanks for letting us know. @cnuland would you be able to test this? It looks like a possible regression.

[2021-02-24 02:42] cnuland commented on #82
@denisj07 confirmed this is an issue, you can do this declaratively by just setting the nodePort, but I'm guessing you want the randomness since then only one service can be in use. I'll let you know when there's a fix to this issue in a future release.

[2021-02-24 02:46] cnuland commented on #89
@cuttingedge1109 we will need the full NamespaceConfig CR for reference to resolve

[2021-02-26 14:24] raffaelespazzoli opened #90 "namespaces starting with kube are not considered"
the kubeflow namespace is not being considered by namespace config operator

[2021-02-26 14:47] #90 closed

[2021-03-03 23:12] davidkarlsen opened #92 "nsconfigurator stuck in upgrade"
it just sits there.
reporting
"install strategy completed with no errors"
but also
"one or more requirements couldn't be found"

what's not met and why? why did it upgrade in the first place if this cannot be met.
[code]

[2021-03-03 23:26] cnuland commented on #92
@davidkarlsen thank you for reaching out, could you give us some additional information about your cluster,

1.  is it vanilla k8s, OpenShift, etc?
2.  did you install through the Operator Hub console or manually CLI?
3. Can you paste a `kubectl get events` within the namespace you installed the operator in and paste it here

[2021-03-04 08:27] davidkarlsen commented on #92
openshift v4.6.latest

console. using auto-ugrade

namespace-configuration-operator-controller-manager-6846f6gt4tl   1/1     Running   0          33h
[et2448@Davids-Work-MacBook-Pro base-ubuntu (⎈ |kube-system/api-os-global-finods-com:6443/david.karlsen@evry.com:openshift-operators)]$ k get events
LAST SEEN   TYPE      REASON      OBJECT

[2021-03-04 12:13] raffaelespazzoli commented on #92
Can you share the operator logs?

On Thu, Mar 4, 2021, 3:27 AM David J. M. Karlsen <notifications@github.com>
wrote:

[2021-03-04 12:45] davidkarlsen commented on #92
well, the running operator is the old version, so that's maybe not so interesting.

[code]

what fails is the upgrade of the operator, so that the new version isn't running

[2021-03-04 12:58] raffaelespazzoli commented on #92
make sure the operator group contains no namespaces

On Thu, Mar 4, 2021 at 7:45 AM David J. M. Karlsen <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-03-04 13:19] davidkarlsen commented on #92
<img width="1457" alt="Screenshot 2021-03-04 at 14 18 39" src="https://user-images.githubusercontent.com/18299/109969809-9e062780-7cf4-11eb-98ca-585949c7f867.png">
<img width="1466" alt="Screenshot 2021-03-04 at 14 19 06" src="https://user-images.githubusercontent.com/18299/109969816-9f375480-7cf4-11eb-80ea-cbffa90cf5cc.png">

[2021-03-04 13:19] davidkarlsen commented on #92
Sorry I don't understand clearly, what do you mean by that?

[2021-03-04 13:21] raffaelespazzoli commented on #92
run "oc get operatorgroup" , ensure the operator group does not have any
namespaces

On Thu, Mar 4, 2021 at 8:19 AM David J. M. Karlsen <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-03-04 13:26] davidkarlsen commented on #92
[code]

[2021-03-04 13:33] raffaelespazzoli commented on #92
I'm referring to the one in the same namespace where you deployed the
operator.

On Thu, Mar 4, 2021 at 8:26 AM David J. M. Karlsen <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-03-04 14:14] davidkarlsen commented on #92
Tried uninstalling it and installing from scratch, I see these events:
[code]

it seems to run just fine though:
[code]

but in the operator console it says:
Pending
Up to date

[2021-03-04 14:16] davidkarlsen commented on #92
This is maybe interesting, note the serviceaccount:
[code]

[2021-03-04 14:27] raffaelespazzoli commented on #92
yep, we saw this issue in other instances. Please open an issue in OLM:
https://github.com/operator-framework/operator-lifecycle-manager
as a workaround please install the operator in a different namespace so
it's by itself.

On Thu, Mar 4, 2021 at 9:16 AM David J. M. Karlsen <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-03-04 15:09] davidkarlsen commented on #92
<img width="1404" alt="Screenshot 2021-03-04 at 16 08 16" src="https://user-images.githubusercontent.com/18299/109984309-eed14c80-7d03-11eb-9288-1a616e930ea7.png">
The namespace can't be changed at install, the namespace is fixed.

[2021-03-04 16:10] raffaelespazzoli commented on #92
Yes the ui does that, but if you install from cli, you can actually change
the namespace. Instructions on how to install from cli are in the readme.

On Thu, Mar 4, 2021, 10:09 AM David J. M. Karlsen <notifications@github.com>
wrote:

[2021-03-10 14:34] davidkarlsen commented on #92
ah, but it's not a library, nvm.

[2021-03-12 16:28] cnuland commented on #82
@denisj07 can you try updating to version 1.0.1 and see if you see the same issue? I'm unable to reproduce after we made some fixes in that version.

[2021-03-19 15:08] denisj07 commented on #82
@cnuland Unfortunately I had to reinstall the operator, as OLM didn't want to do that automatically. I'm not quite sure but I think this is due to the changes in the available `installModes` (`Type: OwnNamespace` / `Type: SingleNamspace` from version < 1.0.0 was changed to `Type: AllNamespaces`). My guess is that it wanted the Operator to be installed in the `openshift-operators` namespace which w

[2021-03-23 16:43] raffaelespazzoli commented on #92
may I close this?

[2021-03-23 17:01] davidkarlsen commented on #92
Yeah, OLM issue so closing here. Thanks.

[2021-03-23 17:01] #92 closed

[2021-03-26 16:00] cnuland commented on #89
Closing this since for lack of activity, please feel free to reopen if the issue persists

[2021-03-26 16:00] #89 closed

[2021-03-26 16:01] cnuland commented on #82
@denisj07 can you check to see if version 1.0.3 is available now on operator hub? I believe the fix should be within that version based on my tests.

[2021-04-02 15:50] hunguyenptc opened #95 "Issues Upgrading from v0.2.5 to v1+ using helmsman"
We used helmsman dsf to install v0.2.5 onto our kubernetes cluster. When trying to update the version to 1.0.0 or greater, the following error is seen:

Are there any doc on the breaking changes and/or upgrade procedure we should follow to upgrade from a 0.x version to 1.x version?

Thanks

[2021-04-05 16:04] hanzala1234 opened #96 "Namespace config operator is consuming too much memory"
Whenever we start the operator, memory consumption goes upto 20GB and our api server becomes unresponsive. API server starts consuming more than 15GB and then it gets killed and the master becomes unhealthy.

we have to scale down the namespace-config operator for making api server responsive again.  what could be the reason that it consumes too much memory once it starts? could there be some memo

[2021-04-05 17:05] raffaelespazzoli commented on #96
hello,

which version are you using?
we used to have this kind issue in an old version.
A "controller manager" is allocated per NamespaceConfig object. Each
controller manager creates a new cache and different sets of watches to the
master api.
I'd expect memory consumption to be proportional to the number of
NamespaceConfig objects, not the number of objects created as an effect of
a NamespaceCon

[2021-04-05 18:09] rasheedamir commented on #96
@raffaelespazzoli we have this version running currently `"version":"1.0.3"`

On this cluster where we are experiencing this issue we have 18 NamespaceConfig objects only.

We have been experience this issue for quite sometime now; and now it's a blocker! Last time it spiked to 20GB and then became stable at 6,5GB; but still 6,5GB is way too much for an operator

[2021-04-05 18:23] rasheedamir commented on #96
Here is last 7 days usage
![screencapture-grafana-openshift-monitoring-apps-devtest-41b996e9-kubeapp-cloud-d-a164a7f0339f99e89cea5cb47e9be617-kubernetes-compute-resources-workload-2021-04-05-20_22_13](https://user-images.githubusercontent.com/3967672/113609909-bac3b100-964c-11eb-86ae-8609c891ba18.png)

[2021-04-06 15:17] rasheedamir commented on #96
@raffaelespazzoli any thoughts on how we can troubleshoot it?

[2021-04-06 16:00] raffaelespazzoli commented on #96
In the past we had a memory leak, but this does not seem to be the case as
the memory allocation is constant.
Which types of objects are created by your namespaceconfigs?
How big is your cluster and how big is the etcd database?
Besides the namespace pod using a lot of memory did you see any other side
effects?
Looking at the api server metrics, you should be able to plot the number of
watches tha

[2021-04-06 16:23] hanzala1234 commented on #96
We are creating mostly secrets,role and rolebindings and tekon resources
(trigger template,triggerbinding, pipelines,event listener)

On Tue, Apr 6, 2021, 9:01 PM raffaelespazzoli ***@***.***>
wrote:

[2021-04-06 17:59] hanzala1234 commented on #96
**Which types of objects are created by your namespaceconfigs?**

We are creating mostly secrets,role and rolebindings and tekton resources (trigger template,triggerbinding, pipelines,event listener)
**How big is your cluster and how big is the etcd database?**

we have 16 nodes with 3 master nodes
ETCD size right now is 818Mi average.

**Besides the namespace pod using a lot of memory did you see

[2021-04-07 11:49] raffaelespazzoli commented on #96
how many namespace config objects do you have, how many namespaces do you have?

Can you run an experiment in which you create your namespace config object one every 5 minutes and monitor  how the memory increases?

[2021-04-07 11:57] hanzala1234 commented on #96
we have 20 namespace config objects. we have a total of 134 namespaces. but namespace config operator only applies to 30-40 namespaces. also, in our environment, we create namespaces dynamically as well for PR testings.

[2021-04-07 12:06] raffaelespazzoli commented on #96
ok, so we can predict that the cache size should be 20x(object types
created*number/size of objects of that type in etcd across the 134
namespaces). I'd like to see the memory progression when you add
namespaceconfigs with the experiment described above.
20 namespace configs is a high number, have you put some thoughts in
perhaps collapsing some of them?

On Wed, Apr 7, 2021 at 7:58 AM hanzala1234

[2021-04-07 14:01] rasheedamir commented on #96
20 is high number :(

Why is a "controller manager" is allocated per NamespaceConfig object?

[2021-04-07 14:08] raffaelespazzoli commented on #96
`20 is high number :(` by that I mean that I had never seen before a deployment where so many definitions were needed. And that perhaps there is a way to collapse some of them and optimize. I didn't mean to say that the operator should not support it.

`Why is a "controller manager" is allocated per NamespaceConfig object?` that's how the operator is designed. One can't dynamically add watchers to

[2021-04-16 17:12] cnuland commented on #82
Haven't heard any input on this in a while and can confirm this issue was fixed in 1.0.3, if you continue to have issues let me know.

[2021-04-16 17:12] #82 closed

[2021-04-17 00:54] cnuland commented on #95
@hunguyenptc we don't have any document around this for this type of helm update, you will likely need to backup your CR files and reinstall fresh from 1.x

[2021-04-20 12:41] gforster opened #101 "feature request - have default limits and requests for namespaceconfig quotas"
The NamespaceConfig allows you to set quotas for the Projects, but when deploying a pod that does not specify limits or requests, it fails. I found I was able to set a LimitRange so that there were some default values for limits and requests. Setting the max to the same values as the quotas in the NamespaceConfig seems to have the desired effect.

It would be nice to have that all as part of the o

[2021-04-20 13:05] raffaelespazzoli commented on #101
the approach here is to define both the quota and the limit range (with defaults, not max defined) in the same nameaspace config.

[2021-05-03 05:20] #95 closed

[2021-06-01 16:52] denisj07 opened #106 "namespace-configuration-operator removes annotations"
We use the namespace-configuration-operator version 1.0.5 to automatically create a namespace for a Group using a `GroupConfig`:

[code]

This gives us the following `Namespace` object:

[code]

But, whenever the operator restarts, it removes all annotations, including the `openshift.io/sa.scc.*` annotations that are created by the cluster-policy-controller, although the operator logs that no chan

[2021-06-03 06:13] utherp0 opened #107 "Automatic namespace creation doesn't appear to issue roles for user"
Doing a basic demo of the Operator - created a userconfig against the provider with the spec:

      objectTemplate: |
        apiVersion: v1
        kind: Namespace
        metadata:
          name: {{ .Name }}-sandbox

When a user logs in the namespace is created correctly, but the user has no access to it and doesn't see it.

Is this as intended and I'm missing something?

[2021-06-04 13:37] denisj07 commented on #107
You should add a rolebinding for your user, take a look at the examples: https://github.com/redhat-cop/namespace-configuration-operator/blob/master/examples/user-sandbox/user-config.yaml#L13-L26

[2021-06-12 23:14] andloh opened #109 "Can't find the operator on operatorhub.io"
Hi,

Thanks for the work on this operator :D

I am trying to use it for vanilla k8s, but I can't find it on the operatorhub.io?
Is this operator ONLY available for openshift/OKD?

From what I see...it should be available:

https://github.com/operator-framework/community-operators/tree/master/community-operators/namespace-configuration-operator

..also the helm install does not work, the chart does

[2021-06-15 17:23] cnuland commented on #106
@denisj07 I was able to reproduce this bug and am currently working on a solution. I will let you know which release the fix is in here when it goes out.

[2021-06-21 19:45] raffaelespazzoli commented on #101
may I close this?

[2021-06-21 19:45] raffaelespazzoli commented on #107
may I close this?

[2021-06-23 14:43] #106 closed

[2021-06-24 03:10] cnuland opened #111 "Update Status Error on CR"
When using a `GroupConfig` template with a `Namespace` resource definition I've noticed it causes the operator to throw an error. I've seen the same error also while deleting resources, like a `Group`, while the `GroupConfig` exists. The changes are applied though and all it seems to be causing is an issue with is the status of the CR and causing noise in the logs.

The error in the console of the

[2021-08-17 16:46] raffaelespazzoli commented on #69
closed by #116

[2021-08-17 16:46] #69 closed

[2021-08-29 11:24] aelbarkani opened #118 "Operator broke on OKD and Kubernetes"
There was a change in the image which breaks the operator for non Redhat users:
https://github.com/redhat-cop/namespace-configuration-operator/blob/84b10314ed8ebb6cde16e4f08a2c59fcca66b801/config/default/manager_auth_proxy_patch.yaml#L13

[2021-08-29 11:31] aelbarkani commented on #118
Actually I see the same problem in all redhat-cop operators @raffaelespazzoli, so I'll just report the issue here instead of spamming you in all the other repos :)

[2021-08-29 12:06] garethahealy commented on #118
@aelbarkani ; i presume the issue is you don't have auth to pull that image?

if so, the free developer subscription might help and give you access to the pull secret:
- https://developers.redhat.com/blog/2016/03/31/no-cost-rhel-developer-subscription-now-available
- https://access.redhat.com/terms-based-registry/

*not tested it myself

[2021-08-29 12:40] aelbarkani commented on #118
Thanks @garethahealy, yes that is the issue. I assume there is policy change in terms of image distribution for redhat-cop operators ?

[2021-08-29 13:45] raffaelespazzoli commented on #118
hello, @aelbarkani the requirements for the rbac-proxy image are the following:
1. must be maintained
2. must be published as a multiarch
To these you are adding that it should be accessible without credentials.

We didn't find an image that aligned with those requirements, so we asked the operator framework team to support one. They said they were not interested.

The image in `registry.redhat.io

[2021-09-02 08:58] vrutkovs commented on #118
Maybe `quay.io/openshift/origin-kube-rbac-proxy` would fit here? Not entirely sure if its multiarch though

[2021-09-02 15:07] raffaelespazzoli commented on #118
That image seems maintained and rebuilt often. however there is no
multiarch support at the moment. Do you know where the source is? Maybe we
can open an RFE at that repo.

On Thu, Sep 2, 2021 at 4:58 AM Vadim Rutkovsky ***@***.***>
wrote:

--
ciao/bye
Raffaele

[2021-09-02 15:38] vrutkovs commented on #118
Its a CI build of `kube-rbac-proxy` for OCP, so the source is the same as for `registry.redhat.io/openshift4/ose-kube-rbac-proxy` - but its not trivial to find multiarch, as OCP CI doesn't make multiarch builds (at least it doesn't publish them as manifest lists)

Perhaps the operator should have an option to redefine the image pullspec?

[2021-09-03 16:12] nevidanniu commented on #118
@raffaelespazzoli is it more important then availability of operators? Currently a lot of community operators (which by design should be anonymous accessible) are broken because they can't access private redhat repo, and there is no workaround to fix it except give up and never use community operators if they may be such easily broken and no one care.

[2021-09-04 10:53] raffaelespazzoli commented on #118
@nevidanniu what image would you use?
The OCP users want an image that comes from red hat or quay and that it is maintained for security reasons.
The operator needs an image that is multiarch.
The community wants an image that is not protected by authentication.

which image should I use? I'm open to suggestions.

The solution for the community for now is to install via helm.
I'm working  with  en

[2021-09-06 10:25] nevidanniu commented on #118
I'm working with engineering to see if we can find a solution to this issue.

Then cut out all these operators from community operators as they are NOT public available anymore.
Currently community installs OKD, tries to install your operators (that are available out of box) and get failed. What they should think about OKD and RH if their own software and repos doesn't work?

[2021-09-06 12:21] raffaelespazzoli commented on #118
@nevidanniu I think your point is valid, but I don't control that part of the process. My understanding is the following:
operator for OCP (downstream) should be released here: https://github.com/redhat-openshift-ecosystem/community-operators-prod , while operator for kubernetes  (upstream) should be released here: https://github.com/k8s-operatorhub/community-operators/tree/main/operators .
We rel

[2021-09-06 12:59] vrutkovs commented on #118
I disagree with community operators using non-public images. First, it puts a barrier to contribution, second that means the operator would be best released on the Marketplace. Especially when the operator has been on community operators catalog for quite a long time already.

Sacrificing a multiarch seems to be a good price to pay, until we figure out how to add it back

[2021-09-06 19:29] raffaelespazzoli commented on #118
@vrutkovs we should consider sacrificing multi-arc for now like you say. Before we do that, I want to see if someone in the OKD image is willing to maintain a open multiarch rbac-proxy image.

[2021-09-07 11:56] aelbarkani commented on #118
I agree with both, sacrificing multi-arch is probably the best short term option here.

[2021-09-07 13:36] vrutkovs commented on #118
There are plans to make arm64-compatible build of OKD, so multiarch version of this image would eventually be released

[2021-09-09 15:02] davidkarlsen opened #119 "can't delete resource - CR stuck"
I tried deleting a NamespaceConfiguration resource, but it won't be deleted due to a stuck finalizer, and the operator tries updating the object with a finalizer, which is not allowed because it is being deleted

[code]

[2021-09-10 01:11] raffaelespazzoli commented on #119
can you paste the instance(yaml)?
There should always ever be one finalizer. And the logic should be: if the instance is new, the finalizer is added, if the instance is being delete and the clean up has been completed the finalizer is removed...

[2021-09-10 18:27] davidkarlsen commented on #119
[code]

[2021-09-13 12:26] raffaelespazzoli commented on #119
sorry I meant the resource how it appears in the cluster with all of the
fields.

On Fri, Sep 10, 2021 at 2:27 PM David J. M. Karlsen <
***@***.***> wrote:

--
ciao/bye
Raffaele

[2021-09-13 23:03] davidkarlsen commented on #119
sorry, that's gone by now.
I'll reopen a case if I can reproduce.

[2021-09-13 23:06] davidkarlsen opened #121 "excludedpaths not working"
I nave a ns config:
[code]

but still, if I edit the `.spec.rbac.policy` of the argocd CR, it will reset to what's in the namespaceconfig - i.e. `excludedPaths` does not allow for mutation of that field?

[2021-09-14 11:48] raffaelespazzoli commented on #121
it looks like `.spec.rbac.policy` is a simple string, so `excludedPaths` should work fine. @cnuland you tested this feature in depth, any comment?

[2021-09-29 10:53] raffaelespazzoli commented on #118
@vrutkovs any news on multiarch support for OKD?

[2021-09-29 11:01] raffaelespazzoli commented on #121
I tried to reproduce the issue, but I couldn't. when modifying the rbac policy, the modification persisted:
[code]
Are you using the latest version?

[2021-09-29 11:03] #101 closed

[2021-09-29 11:03] #107 closed

[2021-09-29 11:04] vrutkovs commented on #118
Its planned, but we have no release date for it.

In any case, a broken version of this operator is already available in OKD 4.7 and this version won't get multiarch support - so this needs to be resolved urgently

[2021-09-29 11:04] raffaelespazzoli commented on #109
helm installation should be used when not running on OpenShift. Can you try helm with the latest version? All issues on the helm chart should have been fixed.

[2021-09-29 13:39] davidkarlsen commented on #121
The problem is maybe that this is partly managed by the ns configuration:
[code]

we want to rig them up with the initial rbac setup, but then leave it for users to mutate - I guess that's not possible?

[2021-09-29 14:23] raffaelespazzoli commented on #121
I tested with a namespaceconfig, and I am not seeing the operator
overwriting my change.

On Wed, Sep 29, 2021 at 9:39 AM David J. M. Karlsen <
***@***.***> wrote:

--
ciao/bye
Raffaele

[2021-09-29 16:11] davidkarlsen commented on #121
does your namespace config look like mine?
If I edit the generated resource (the one created by the ns config), I see this in the ns config operator log:
[code]
and then it's reset to what's in the ns config.

[2021-09-29 18:44] davidkarlsen commented on #121
strange - I cannot re-produce this any longer, maybe the resources are cached for some time and I was too soon to retest in my iterations? I'll re-open if I can make this happen again.

[2021-09-29 18:44] #121 closed

[2021-10-01 08:32] ichmachnixichgucknur opened #122 "Best way to deploy ~60 Networkpolicies?"
Hi,
we are requested to apply approx ~60 configurations (networkPolicies) to ~180 Namespaces (counting).
I created a file for every config and applied this. That works, but the operator takes approx 7GB of RAM.

I thought about optimizing this and to create a single file. On the testsystem, the RAM Usage is much lower and for the first config ist works. But by applying an update everything breaks.

[2021-10-01 10:24] raffaelespazzoli commented on #122
the memory consumed by the operator if roughly proportional to the number of namespaceconfig.
Just to understand you have 60 different network policies that need to be applied in different combinations to 180 namespaces?
can you do some consolidation? A namespace config can carry an array of dis-homogeneous objects.

[2021-10-01 17:16] ichmachnixichgucknur commented on #122
I have 60 networkpolicies applied to namespaces matching one label (matching 99% of the cluster).
Working with 60 namespaceconfigs works, but ends in a huge memory consumption - as you mentioned proportional to the configs.
I consolidated the config to one namespaceconfig including all the networkpolicies - I think that is what you are talking about. Initially this works, but on an update on the n

[2021-10-01 21:36] raffaelespazzoli commented on #122
got it, I now see what the problem is. probably the status field is so big that the update does not work. let me think what I can do in that space....

[2021-10-06 10:59] raffaelespazzoli commented on #122
@cnuland @trevorbox I think the solution we should adopt here is to filter the successful reconcilers from the status and display only the ones that are erroring out. This would drastically reduce the size of the etcd object.
I'm currently busy and cannot work on this, would you be able to make this fix?

[2021-10-12 05:19] ichmachnixichgucknur commented on #122
@raffaelespazzoli I will test this and come back to you.

[2021-10-20 11:40] davidkarlsen commented on #87
Is it the namespace which is the root parameter, or the *metadata* of the namespace?
Since .Name can be used, it looks like the metadata object.

I've tried:
* `{{ index .Labels "jaeger-instance" }}`
* `{{ index .Metadata.Labels "jaeger-instance" }}`
* `{{ index .metadata.labels "jaeger-instance" }}`

to no avail

[2021-10-20 12:04] davidkarlsen commented on #87
something had locked itself up with the ns config resource, I deleted it and reapplied and then it works fine.

For others this syntax works:
[code]

[2021-10-20 12:04] #87 closed

[2021-10-21 01:38] raffaelespazzoli commented on #119
this should be the right one: "namespaceconfig-controller".
Also can you share between which version you see the change, for the
benefit of others.
And sorry for the inconvenience.

On Tue, Oct 19, 2021 at 2:54 PM David J. M. Karlsen <
***@***.***> wrote:

--
ciao/bye
Raffaele

[2021-10-23 16:19] raffaelespazzoli opened #123 "error processing templates it not being reported"
it looks like if an error occur while processing templates it does not bubble up to the status.

[2021-11-14 21:21] #122 closed

[2021-11-15 13:47] #118 closed

[2021-11-15 14:59] raffaelespazzoli commented on #109
may I close this issue?

[2022-02-22 09:02] Florian-94 commented on #96
Hello,
We are using the 1.2.0 version of the nsconfig operator on a 4.8.14 OCP cluster. We really appreciate it except for the RAM consumption ...
On one of our Openshift BUILD cluster, we have 125 namespaceconfigs objects. One for each namespace (and its rolebindings, netpol, resourcequotas, limitrange ... associated). And we plan to host new clients (ie namespaces) soon.
The limit for the nsconf

[2022-02-22 13:31] raffaelespazzoli commented on #96
I recommend upgrading but that will probably not solve your problem. @Florian-94
There is definitely a correlation between the number of namespace config and type of object being configured and the memory sued by this operator. This cannot be eliminated.
Having one NamespaceConfig object per namespace is technically possible, but it's not what was intended for this operator.
Can you share your use

[2022-02-22 17:17] Florian-94 commented on #96
We have a web access portal where our customers can choose all specific parameters for limitrange and resourcequotas (the portal manages a process validation before creating namespaceconfigs CR on openshift cluster).
May be we could use the "tee-shirt size" system offers by nsconfig operator for this usage.
We also apply 2 network policies (in nsconfig CR) to be sure users can't modify / delete it

[2022-02-22 20:04] raffaelespazzoli commented on #96
Both use cases should be addressable with a single namespace config. For
the quotas create an annotation on the namespace with the needed values and
then use the templating capability to apply them in a given namespace. Not
sure about the network policy, I'd have to see it.

On Tue, Feb 22, 2022, 12:17 PM Florian-94 ***@***.***> wrote:

[2022-04-11 14:16] #109 closed

[2022-04-13 08:16] kylegalea opened #128 "Upgrade to 1.2.3 Fails - field is immutable"
@raffaelespazzoli

Upgrade to 1.2.3 namespace config operator is failing on trying to change an immutable field in the deployment of the operator.

install strategy failed: Deployment.apps "namespace-configuration-operator-controller-manager" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"control-plane":"namespace-configuration-operator"}, MatchExpression

[2022-04-13 08:24] kylegalea commented on #128
Deleting the deployment works - templated objects were not removed

[2022-04-13 08:24] #128 closed

[2022-04-13 08:49] mto-beep commented on #128
![grafik](https://user-images.githubusercontent.com/103566657/163137768-475add84-7401-4e8d-be9b-6d03a2af92cf.png)

Hey i have the same problem, so you deleted the deployment of 1.2.2? and have you enabled "Delete dependent objects of this resource" ?

[2022-04-13 08:55] mto-beep commented on #128
Thanks, that worked.

[2022-04-19 10:34] davidkarlsen opened #129 "Upgrade fails from 1.2.2 -> 1.2.3"
[code]

The workaround is to delete the existing deployment.

The reason is that the matchers changed from:

[code]

TO

[code]

same applies to the cert-utils-operator

[2022-05-04 07:23] chitic-andrei commented on #129
Hi.

Will the namespaces created via the operator will be removed when uninstalling it as part of the workaround? Don't have a spare environment to test this before doing it on the cluster used by the clients.

Thanks!

[2022-05-04 12:42] raffaelespazzoli commented on #129
no they will not be removed and apologies for the inconvenience generated
by this release

On Wed, May 4, 2022 at 3:23 AM Andrei Chitic ***@***.***>
wrote:

--
ciao/bye
Raffaele

[2022-10-27 00:43] fherbert opened #132 "When status update fails on CR, all following enqueued namespaceconfigs are not processed"
We have 5 namespaceconfigs. We find that sometimes it takes a long time for all the namespace configurations to be applied to the namespace. We've found a correlation between when the controller fails to update the CR status of the namespaceconfig, any pending namespaceconfig reconciles are not processed until next time a reconcile is triggered.
An example log of the CR status not being able to up

[2022-10-27 20:10] fherbert commented on #132
We have 5 namespaceconfig CR's (each have a couple of objects defined) that apply to the namespaces (matching labels etc). We're not able to reproduce this issue consistently, but when we do, we see the enforcing-reconciler error posted above and no further reconciliation occurs, meaning the remaining namespaceconfigs do not get applied to the namespace as expected. I'd expect the reconciler to re

[2022-10-28 11:58] raffaelespazzoli commented on #132
that error is due to a race condition that I was never able to fix. but it is innocuous as usually the controller retries and eventually succeeds. Different CR are processed independently so I don't see how this erro would influence the execution of other CRs. But I think by default controllers are set with parallelism of 1, meaning one CR at a time. Still once a CR completes the reconcile cycle w

[2022-11-02 05:08] limlengchye commented on #132
Looks like this is the issue we are facing. Some times ( not always ) when a namespace get re-created ( deleted and then created again without wait in between ), we did encounter some of the CRs 'do nothing' after completing their reconcilation cycles.
I think this has to do with the race-condition you mentioned and the timing. I could be wrong: I suspect  those CRs were yet to complete the reconc

[2022-11-02 13:46] raffaelespazzoli commented on #132
```Looks like this is the issue we are facing. Some times ( not always ) when a namespace get re-created ( deleted and then created again without wait in between ), we did encounter some of the CRs 'do nothing' after completing their reconcilation cycles. I think this has to do with the race-condition you mentioned and the timing.```
I saw that behavior too. I think that's a different issue and I